.cont {
    margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}
.weather {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
}